body {
  font: 16px/20px Roboto, 'Roboto Light', Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  line-height: 1.25em;
}

#iphone {
  border: 3px solid #000;
  border-radius: 5em;
  margin: 5em auto;
  padding: 10em 2em;
  height: 1136px;
  width: 640px;
}

  #iphone::after {
    content: "";
    display: block;

    border-radius: 50%;
    border: 2px solid #000;
    height: 100px;
    width: 100px;

    position: relative;
    bottom: -27px;
    left: 50%;
    margin-left: -50px;
  }

.views {
  background: #777;
  border: 2px solid #000;

  position: relative;
  height: 1136px;
  width: 640px;

  text-align: center;
}

  .views p {
    color: #fff;
    font-size: 1.25em;
    margin-top: 0.5em;
  }

.views > div {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;

  background-repeat: no-repeat;
  height: 1096px;
  width: 640px;
}

.views > div > div {
  position: absolute;

  background-color: rgba(0,255,0,.2);
  border: 1px solid rgba(0,255,0,.5);
  transition: background-color 0.3s;
  display: block;

  cursor: pointer;
}

  .views > div > div:hover {
    background-color: rgba(0,255,0,.5);
  }


/* Tutorial */

.tutorial-next {
  height: 76px;
  width: 224px;
}

.tutorial-skip {
  height: 50px;
  width: 150px;
}

#tutorial-intro {
  background-image: url(../img/tutorial/intro.png);
}

  #tutorial-intro-skip {
    right: 0;
    bottom: 7px;
  }

  #tutorial-intro-app {
    left: 87px;
    top: 424px;

    height: 34px;
    width: 229px;
  }

  #tutorial-intro-input {
    left: 87px;
    top: 461px;

    height: 34px;
    width: 191px;
  }

  #tutorial-intro-reminders {
    left: 87px;
    top: 498px;

    height: 34px;
    width: 191px;
  }

  #tutorial-intro-progress {
    left: 87px;
    top: 535px;

    height: 34px;
    width: 261px;
  }

#tutorial-app {
  background-image: url(../img/tutorial/app.png);
}

  #tutorial-app-next {
    right: 20px;
    bottom: 65px;
  }

  #tutorial-app-exit {
    right: 0;
    bottom: 7px;
  }

#tutorial-input {
  background-image: url(../img/tutorial/input.png);
}

  #tutorial-input-next {
    left: 64px;
    bottom: 175px;
  }

  #tutorial-input-exit {
    right: 165px;
    bottom: 3px;
  }

#tutorial-reminders {
  background-image: url(../img/tutorial/reminders.png);
}

  #tutorial-reminders-next {
    right: 76px;
    top: 450px;
  }

  #tutorial-reminders-exit {
    right: 5px;
    bottom: 7px;
  }


#tutorial-progress {
  background-image: url(../img/tutorial/progress.png);
}

  #tutorial-progress-next {
    right: 70px;
    top: 370px;
  }

  #tutorial-progress-exit {
    right: 5px;
    bottom: 12px;
  }

/* Home page */

#home {
  background-image: url(../img/home/home.png);
}

  #home-estimate-toggle,
  #home-estimate-back {
    left: 49px;
    top: 158px;

    height: 129px;
    width: 532px;
  }

  #home-add-button {
    right: 14px;
    bottom: 15px;

    height: 145px;
    width: 145px;

    border-radius: 50%;
  }

  #home-instructions-button {
    right: 21px;
    top: 14px;

    height: 60px;
    width: 60px;
  }

  #home-menu-button {
    left: 0;
    top: 0;

    height: 89px;
    width: 98px;
  }

  #home-trends-button {
    left: 32px;
    bottom: 512px;

    height: 74px;
    width: 575px;
  }

#home-estimate {
  background-image: url(../img/home/estimates.png);
}

#home-add {
  background-image: url(../img/home/add.png);
}

  #home-add-close {
    left: 29px;
    top: 270px;

    height: 74px;
    width: 74px;
  }

  #home-add-glucose {
    left: 70px;
    top: 404px;

    height: 102px;
    width: 500px;
  }

  #home-add-meal {
    left: 70px;
    top: 528px;

    height: 102px;
    width: 500px;
  }

  #home-add-exercise {
    left: 70px;
    top: 658px;

    height: 102px;
    width: 500px;
  }

#home-instructions {
  background-image: url(../img/home/instructions.png);
}

  #home-instructions-close {
    right: 17px;
    top: 15px;

    height: 74px;
    width: 74px;
  }

#home-menu {
  background-image: url(../img/home/menu.png);
}

  #home-menu-settings {
    left: 5px;
    bottom: 368px;

    height: 99px;
    width: 627px;
  }

  #home-menu-reminders {
    left: 5px;
    bottom: 257px;

    height: 99px;
    width: 627px;
  }

  #home-menu-passcode {
    left: 5px;
    bottom: 149px;

    height: 99px;
    width: 627px;
  }

  #home-menu-cancel {
    left: 5px;
    bottom: 22px;

    height: 99px;
    width: 627px;
  }

#home-trends {
  background-image: url(../img/home/other_trends.png);
}

  #home-trends-close {
    left: 14px;
    top: 300px;

    height: 74px;
    width: 74px;
  }

  #home-trends-glucose {
    left: 57px;
    top: 427px;

    height: 92px;
    width: 526px;
  }

  #home-trends-food {
    left: 57px;
    top: 521px;

    height: 92px;
    width: 526px;
  }

  #home-trends-exercise {
    left: 57px;
    top: 616px;

    height: 92px;
    width: 526px;
  }


/* Passcode */

#passcode {
  background-image: url(../img/passcode/passcode.png);
}

  #passcode-back {
    left: 5px;
    top: 5px;

    height: 90px;
    width: 90px;
  }


/* Settings */

#settings {
  background-image: url(../img/settings/settings.png);
}

  #settings-back {
    left: 5px;
    top: 5px;

    height: 90px;
    width: 90px;
  }


/* Data input */

.input-datetime {
  left: 21px;

  height: 110px;
  width: 598px;
}

.input-action {
  height: 87px;
  width: 285px;
}

.input-dialog-done {
  left: 78px;
  bottom: 180px;

  height: 72px;
  width: 482px;
}

#input-glucose {
  background-image: url(../img/data_input/glucose.jpg);
}

  #input-glucose-back {
    left: 5px;
    top: 5px;

    height: 90px;
    width: 45px;
  }

  #input-glucose-time-button {
    top: 388px;
  }

  #input-glucose-date-button {
    top: 598px;
  }

  #input-glucose-cancel {
    top: 763px;
    left: 20px;
  }

  #input-glucose-done {
    top: 763px;
    right: 23px;
  }

  #input-glucose-time {
    background-image: url(../img/data_input/glucose_time.jpg);
  }

  #input-glucose-date {
    background-image: url(../img/data_input/glucose_date.jpg);
  }

#input-food {
  background-image: url(../img/data_input/food.jpg);
}

  #input-food-back {
    left: 5px;
    top: 5px;

    height: 90px;
    width: 45px;
  }

  #input-food-time-button {
    top: 608px;
  }

  #input-food-date-button {
    top: 819px;
  }

  #input-food-cancel {
    top: 982px;
    left: 20px;
  }

  #input-food-done {
    top: 982px;
    right: 23px;
  }

  #input-food-time {
    background-image: url(../img/data_input/food_time.jpg);
  }

  #input-food-date {
    background-image: url(../img/data_input/food_date.jpg);
  }

#input-exercise {
  background-image: url(../img/data_input/exercise.jpg);
}

  #input-exercise-back {
    left: 5px;
    top: 5px;

    height: 90px;
    width: 45px;
  }

  #input-exercise-time-button {
    top: 608px;
  }

  #input-exercise-date-button {
    top: 819px;
  }

  #input-exercise-options-dropdown {
    left: 22px;
    top: 179px;

    height: 108px;
    width: 595px;
  }

  #input-exercise-cancel {
    top: 982px;
    left: 20px;
  }

  #input-exercise-done {
    top: 982px;
    right: 23px;
  }

  #input-exercise-time {
    background-image: url(../img/data_input/exercise_time.jpg);
  }

  #input-exercise-date {
    background-image: url(../img/data_input/exercise_date.jpg);
  }

#input-exercise-options {
  background-image: url(../img/data_input/exercise_options.jpg);
}

  #input-exercise-running {
    left: 22px;
    top: 429px;

    height: 68px;
    width: 595px;
  }
